body{
	background: #F7F7F7;
}
input[type=button]{
	height:29px;
	line-height: 29px;
}
input[type=submit]{
	height: 100%;
}
.pure-u-1-12 input{
	float: right;
}
.m {
	max-width: 1008px;
	margin: 0 auto;
}
#m-tip{
	text-align: center;
	font-size: 12px;
}
#m-tip span{
	background: #f4378a;
	margin: 0 5px;
	padding: 5px;
	line-height: 30px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}
.pure-u-11-12 input+span{
	margin:0 0 0 5px;
}
#m-main>div{
	background: white;
	border: 1px solid #CCCCCC;
	padding: 5px;
	margin: 5px 0 0 0;
	border-radius: 5px;
}
h1{
	font-size: 16px;
	margin: 0;
	text-align: center;
	background: #F2F2F2;
	line-height: 30px;
}
.m-back{
	float:right;
}
.m-brand{
	float:left;
	background:#333333;
	color:white;
	line-height:30px;
	padding:0 5px;
	text-decoration:none;
}
input{
	padding:0;
	border-radius:0;
	border:1px solid #CCCCCC;
}
input[type=text]{
	line-height:25px;
}
input[type=button]{
	min-width: 40px;
}
input[type=submit]{
	height:54px;
}